body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-app {
  border: 1px solid lightgrey; 
  margin: auto;
  box-shadow: 1px 1px 3px 1px lightgrey;
}

#formulario {
  border: none;
  width: 498px;
  height: 50px;
  padding-left: 20px;
  
}

#input {
  border-bottom: none ;
}


